@import "../App.css";
.footerBlock {
  background: black;

  height: 150px;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Light";
}
.companyTitle {
  font-size: 40px;
  display: flex;
  align-items: center;
  letter-spacing: 4px;
}
